*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
build/
*.log
*.jks
*.keystore
google-services.json
*.hprof
*.py
*.backup
A
Android
Get
Run
Task
